@font-face {
    font-family: 'alex-brush';
    src: url('./assets/font/alex-brush.regular.ttf') format('truetype');
  }
body{
    background-color: #e3e3e373;
    margin: auto;
    font-family: "Yu Gothic",Meiryo,"Hiragino Kaku Gothic ProN","Hiragino Sans",sans-serif;
}
.header{
    background-color: #fff;
    border-bottom: 1px solid rgba(128, 128, 128, 0.237);
    margin-bottom : 50px;
    display: flex;
    justify-content: center;
    height: 70px;
    font-family: "Yu Gothic",Meiryo,"Hiragino Kaku Gothic ProN","Hiragino Sans",sans-serif;
}
.content{
    width : 760px;
    margin: auto;
}
.first{
    
    height: 1000px;
    background-image: url('./assets/img/Screenshot_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--6, #fff);
    font-family: "Yu Gothic";
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    padding: 20px;
}

.banner{
    background-image: url('./assets/img/banner_bak.png');
    margin: 30px auto;
    padding: 30px;
}
.banner_font{
    text-align: center;
    font-size: 18px;
    font-family: ui-monospace;
    text-shadow: -2px 1px 0px #b18e5c47, 4px 4px 0px #ffd66200;
}
.banner .sprouts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .sprouts img{
    border-radius: 15px;
    width: 100px;  
}
.banner .female{
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 180px;
}
.banner .female img{
    width : 230px;
    height: 300px;
    border-radius: 14px;
}
.banner .female img:nth-child(odd){
    transform: rotate(-17deg);
}
.banner .female img:nth-child(even){
    transform: rotate(17deg);
}
.article{
    background-color: #fff;
    margin : 30px 0 20px 0;
    font-family: "Yu Gothic";
    animation-name: article;
    animation-duration: 2s;
    padding: 50px 30px;
}
.article .article_head{
    color: var(--6, #2ac519d6);
    font-family: "Yu Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%; /* 21px */
    padding: 10px;
}
.article .product_concept{
    color: var(--6, #d3487bd6);
    font-family: "Yu Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%; /* 21px */
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_concept img{
    width: 200px;
}
.article .article_list{
    margin-top: 20px;
    color: var(--6, #000);
    font-family: "Yu Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%; /* 21px */
    border: 2px solid pink;
}

.article_list .article_list_text{
    text-align: center;
    padding : 10px ;
    color: var(--6, #fff);
    background-color:pink;
    cursor: pointer;
}
.article_list .list_content{
    padding: 30px;
    list-style: none;
    display: none
}
.list_content li{
    margin : 10px 0;
}
.list_content a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 2px solid pink;
    color: #e94f3e;
}
.list_content a:hover{
    color: #62d713;
}
.article .article_content{
    margin-top: 30px;
    letter-spacing: 2px;
}
article div{
    margin-bottom: 20px;
}
.article .article_content .article_content_title{
    background: #F9B;
    box-shadow: 0 0 0 5px #F9B;
    border: dashed 2px #fff;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    font-size: 19px;

    position: relative;
}
.article_title_animation{
    animation-name: article_content_title;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
  @keyframes article_content_title {
    from {color:rgb(74, 243, 8); left:700px; top:0px;}
    to {color:#FFF ; left:0px; top:0px;}
  }
.article .article_content .article_content_text{
    padding: 10px;
    line-height: 3; 
}
article .img{
    display: flex;
    justify-content: center;
}
.text_subtitle{
    border-bottom: 4px dotted #ff8cc0;
    color: #ff8cc0;
    padding: 4px;
    position: relative;
    z-index: 0;
    font-size: 28px;
}
.article .CBD{
    display: inline-block;
    position: relative;
    /* margin: 10px 0 0 -170px; */
    padding: 6px 12px;
    border-radius: 20px;
    background: #5eb5e0;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    z-index: 1;
    letter-spacing: 2.4px;
}
.article .CBD::before {
    position: absolute;
    content: '';
    z-index: -1;
    bottom: -30px;
    left: 125px;
    border: 15px solid transparent;
    border-top: solid 30px #5eb5e0;
    transform: rotate(-40deg);
}
.back_pink{
    background-color: #ff99bb45;
    border-left: 2px dotted rgba(0,0,0,.1);
    border-right: 2px dotted rgba(0,0,0,.1);
    box-shadow: 0 5px 20px -5px rgba(105,115,131,.35);
}
.gold_font{
    color: rgb(134 137 20 / 76%);
    font-weight: 700;
}
.span_word_red{
    color: #f9777a; 
    font-weight: 700; 
    font-size: 20px;
}
.span_word_yellow{
    color: #ddec08; 
    font-weight: 700; 
    font-size: 20px;
}
.article .article_content .special{
    background: rgb(221, 198, 135);
    box-shadow: 0 0 0 5px rgb(224, 190, 69);
    border: dashed 2px #fff;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    font-size: 19px;
}
.last{
    width : 760px;
    color: var(--6, #fff);
    font-family: "Yu Gothic";
    font-style: normal;
    font-weight: 400;
    position: relative;
     /* 21px */
}
.last .last_top{
    background-image: url('./assets/img/last_high.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding : 30px 0 20px 40px;
}
.last .last_top .large_text{
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.last .last_top .small_text{
    font-size: 12px;
    width : 50%;
    color: grey;
    font-weight: 700;
}

.sprouts .sprouts_product{
    font-size: 12px;
    text-align: center;
    color: grey;
    font-weight: 700;
}
.last .last_bottom{
    background-image: url('./assets/img/last_bottom.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding : 30px 45px 32px 40px;
}
.last_bottom .bottom_first_text{
    font-size: 30px;
    /* width: 70%; */
    color: rgb(84 203 12);
    font-weight: 400;
    font-style: italic;
    text-decoration: underline 2px;
    line-height: 1.7;
    letter-spacing: 2px;
}
.bottom_first_text img{
    width: 50px;
    border-radius: 10px;
}
.bottom_second_text{
    background-size: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.bottom_second_text .text_content{
    flex: 1;
    font-size: 12px;
    color: grey;
    font-weight: 700;
    text-shadow: 3px -1px 0px #fff;
    z-index: 3 !important;
}
.bottom_second_text img{
    height: 160px;
    position: absolute;
    left: 159px;
    top: 105px;
    transform: translateY(-50%);
    max-width: 50%;
    z-index: 2!important;
}
.bottom_second_text .text_title{
    font-size: 30px;
    color: rgb(84 203 12);
    font-weight: 400;
    font-style: italic;
    text-decoration: underline 2px;
    line-height: 1.7;
    letter-spacing: 3px;
}
.last_bottom .box_text{
    border: 2px solid rgba(114, 92, 3, 0.608);
    margin: 100px 0px 50px 10px;
    padding: 10px;
    width: 40%;
}
.logo_box img{
    width: 50px;
}
.box_text div{
    background-color: rgb(153 137 74);;
    padding: 5px;
}
.second_row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}
.third_row{
    color: #000;
    font-size: 12px;
}
.third_row .third_title{
    margin: 20px 0px;
    font-size: 22px;
    color: rgb(165, 192, 225);
    font-weight: 400;
    letter-spacing: 3px;
    border-left: 3px solid  rgb(70, 137, 218);
    padding-left: 20px;
}
.third_row .third_content{
    background-color: #f7b2f95e;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 10px;
}
.border_box{
    padding: 5px 10px;
    border: 2px solid rgb(97, 81, 3);
    color: #000;
    letter-spacing: 2px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.footer{    
    margin-top: 30px;
    background-image: url('./assets/img/first_back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 30px;
}

.footer_font{
    color: rgb(133 11 72 / 88%);
    font-weight: 700;
    
}
.bottom_head_text{
    display: flex;   
}
.first_row{
    width: 60%;
}
.third_second{
    margin: 10px; 
    padding: 10px; 
    border-left: 2px rgb(243, 183, 20) dotted;
}
.third_first_img{
    height: 266px; 
    width: 172px;
    border-radius: 10px;
}
.third_first_text{
    padding: 20px;
}
.third_first{
    display: flex;
}
.price_banner_part1{
    background-image: url('./assets/img/price_back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.price_banner_font{
    color: rgb(80 229 217);
    font-weight: 700;
    font-size: 30px;
}
.price_banner_first{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.price_banner_first img{
    width: 250px;
    border-radius: 15px;
}
.price_banner_first_text{
    font-family: revert;
    text-align: justify;
    padding: 10px;
    color: #e4ff16;
}
.price_banner_part2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 0;
    background-color: white;
    padding: 65px;
}
.price_banner_part2 img{
    width: 450px;
}
.price_banner_second_font{
    
    text-orientation: upright;
    white-space: nowrap;
    font-size: 30px;
    color: #fd00ff7a;
    font-weight: 800;
    font-family: "Yu Gothic";
}
.rl{
    writing-mode: vertical-rl;
}
.lr{
    writing-mode: vertical-lr;
}
.price{
    background-color: #fff;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    background-image: url('./assets/img/price_num_back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.price_content{
    display: flex;
    align-items: center;
}
.price_content img{
    width: 240px;
}
.price_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding: 15px;
    text-align: center;
}
.pr_name{
    font-size: 30px;
    font-weight: 700;
    font-family: 'alex-brush';
    text-transform: uppercase;
    color: rgb(231 74 211 / 62%);
}
.pr_name_jp{
    font-size: 30px;
    font-weight: 700;
    font-family: 'alex-brush';
    text-align: center;
    color: rgb(103 173 5);
}
.price_num{
    font-size: 20px;
}
.font_price{
    font-size: 30px;
}
#footer{
    background: url('./assets/img/banner_bak.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#footer h2 {
    padding: 10px;
    background: #333333 none repeat scroll 0% 0%;
    color: #FFF;
    text-align: center;
}
#footer_inner {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}
.clearfix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer .footer_contents {
    width: 280px;
    float: left;
}
.ads img{
    width: 100px;
}
@media screen and (max-width: 1200px){
    #footer_inner {
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
}
@media screen and (max-width: 800px){
    .content{
        width : 539px;
        margin: auto;
    }
    .first{
        width : 500px;
        height: 700px;
        margin: auto;
    }
    .article{
        margin : 20px 0 20px 0;
        padding: 30px 20px;
    }
    .article .article_head{
        font-weight: 700;
        font-size: 18px;
        line-height: 120%; /* 21px */
        padding: 2px;
    }
    .article .product_concept{
        margin-top: 20px;
        font-size: 12px;
        line-height: 150%; /* 21px */
    }
    .article .article_content .article_content_title{
        font-size: 20px;
    }
    .product_concept img{
        width: 100px;
    }
    .list_content a{
        font-size: 12px;
        letter-spacing: 0px;
    }
    .article .article_content{
        margin-top: 30px;
        letter-spacing: 0px;
    }
    .article .article_content .article_content_text{
        padding: 5px;
        line-height:2; 
    }
    article .img img{
        width: 350px;
    }
    .article .CBD {
        padding: 3px 6px;
        border-radius: 15px;
        font-size: 16px;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
    }
    .ads img{
        width: 80px;
    }
    .span_word_red {
        font-size: 14px;
    }
    .span_word_yellow {
        font-size: 16px;
    }
    .text_subtitle {
        padding: 4px;
        font-size: 16px;
    }
    .last{
        width : 539px;
    }
    .last .last_top {
        padding: 45px 0 27px 17px;
    }
    .last .last_top .large_text {
        font-size: 24px;
        margin-bottom: 0px;
        letter-spacing: 2px;
    }
    .last .last_top .small_text {
       display: none;
    }
    .first_row {
        width: auto;
    }
    .bottom_head_text{
        display: block;   
    }
    .bottom_second_text img {
        left: 230px;
    }
    .last_bottom .box_text {
        width: auto;
    }
    .second_row{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        margin-bottom: 45px;
    }
    .third_row .third_content {
        grid-template-columns: repeat(1,1fr);
        border-radius: 10px;
    }
    .third_second{
        border-left: none;
        border-top: 2px rgb(243, 183, 20) dotted;
    }
    .third_first_img{
        height: 150px;
        width: 140px;
        border-radius: 10px;
    }
    
    .last .last_bottom {
        padding: 30px 45px 45px 40px;
    }
    .price_banner_first img{
        width: 170px;
        height: 130px;
    }
    .price_banner_part2 img {
        width: 290px;
    }
    .price_content img {
        width: 140px;
        height: 146px;
    }
    .pr_name_jp {
        font-size: 15px;
    }
    .font_price{
        font-size: 30px;
    }
    .banner .female {
        column-gap: 44px;
    }
    .banner .female img {
        width: 193px;
    }
  
   
}
@media screen and (max-width: 650px){
    .content{
        width : 409px;
        margin: auto;
    }
    .first{
        width : 370px;
        height: 540px;
        margin: auto;
    }
    .last{
        width : 409px;
    }
    .last .last_top .large_text {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .last .last_top {
        padding: 32px 0 22px 17px;
    }
    .last_bottom .bottom_first_text {
        font-size: 24px;
    }
    .bottom_first_text img{
        width: 50px;
        border-radius: 5px;
    }
    .bottom_second_text img {
        left: 165px;
        top: 120px;
    }
    .third_row .third_title {
        font-size: 19px;
        letter-spacing: 1px;
        padding-left: 8px;
    }
    .border_box {
        display: none;
    }
    .third_first_text {
        padding: 10px;
    }
    #footer_inner {
        padding: 10px;
        border-bottom: 1px solid #cccccc;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
    .price_content img {
        width: 106px;
        height: 95px;
    }
    .price_banner_part2{
        display: none;
    }
    .price_banner_first{
        display:flow-root
    }
    .banner .female {
        grid-template-columns: repeat(1,1fr);
        row-gap: 10px;
    }
    .banner_font {
        margin-top: 30px;
    }
    .ads img{
        width: 50px;
    }

}
@media screen and (max-width: 470px){
    .content{
        width : 370px;
        margin: auto;
    }
    .first{
        width : 320px;
        height: 375px;
        margin: auto;
    }
    .last{
        width : 370px;
    }
    .last .last_top .large_text {
        font-size: 14px;
        margin-bottom: 0px;
       
    }
    .last_bottom .bottom_first_text {
        font-size: 21px;
    }
    .bottom_second_text .text_title {
        font-size: 29px;
    }
    .bottom_second_text img {
        left: 155px;
        top: 118px;
    }
    .last .last_bottom {
        padding: 30px 13px 45px 19px;
    }
    .last_bottom .box_text {
        margin: 41px 0px 50px -3px;
    }
    .third_row .third_title {
        font-size: 17px;
        letter-spacing: 0px;
        padding-left: 4px;
    }
    .third_first{
        display: block;
    }
    .pr_name_jp {
        font-size: 14px;
    }
    .pr_name {
        font-size: 24px;
    }
    #footer_inner {
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 280px){
    .content{
        width : 250px;
        margin: auto;
    }
    .first{
        width : 210px;
        height: 275px;
        margin: auto;
    }
    .last{
        width : 250px;
    }
    .last .last_top {
        padding: 30px 0 7px 17px;
    }
    .last .last_top .large_text {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .last .last_top .small_text {
       display: none;
    }
    
    
}